.city-input {
  padding: 20px;
  margin: 10px;
  width: 40vw;
}

.fetch-weather {
  background-color: aquamarine;
  color: black;
  text-transform: uppercase;
  border: none;
  padding: 20px;
  margin: 10px;
}
